.city_content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.home_button{
    margin-top: 2rem;
    width: 300px;
    height: 3rem;
    border-radius: 20px;
}